<div class="mt-3 p-2" style="border: 2px solid blue;">
  <h3>Parent Component</h3>
  <p class="d-flex justify-content-center">
    Message: {{message}} {{serviceMessage}} {{observableMessage}}
  </p>
  

  <div class="d-flex justify-content-around">
  <button (click)="notifyService()" class="btn btn-primary">Use Service</button>
  <button (click)="useInput()" class="btn btn-warning">Use Input Property</button>
  <button (click)="onUseObservable()" class="btn btn-danger">Use Observable</button>
  </div>

  <app-child [message]="inputMessage" (outputMessageEvent)="getOutput($event)"></app-child>
</div>
